.background {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;

  &.clear-day {
    background: url(/img/backgrounds/full/clear-day.jpg);
  }
  &.clear-night {
    background: url(/img/backgrounds/full/clear-night.jpg);
  }
  &.rain {
    background: url(/img/backgrounds/full/rain.jpg);
  }
  &.snow {
    background: url(/img/backgrounds/full/snow.jpg);
  }
  &.sleet {
    background: url(/img/backgrounds/full/sleet.jpg);
  }
  &.wind {
    background: url(/img/backgrounds/full/wind.jpg);
  }
  &.fog {
    background: url(/img/backgrounds/full/fog.jpg);
  }
  &.cloudy {
    background: url(/img/backgrounds/full/cloudy.jpg);
  }
  &.partly-cloudy-day {
    background: url(/img/backgrounds/full/partly-cloudy-day.jpg);
  }
  &.partly-cloudy-night {
    background: url(/img/backgrounds/full/partly-cloudy-night.jpg);
  }
}


@media (max-width: 1920px) {
  .background {
    &.clear-day {
      background: url(/img/backgrounds/1920/clear-day.jpg);
    }
    &.clear-night {
      background: url(/img/backgrounds/1920/clear-night.jpg);
    }
    &.rain {
      background: url(/img/backgrounds/1920/rain.jpg);
    }
    &.snow {
      background: url(/img/backgrounds/1920/snow.jpg);
    }
    &.sleet {
      background: url(/img/backgrounds/1920/sleet.jpg);
    }
    &.wind {
      background: url(/img/backgrounds/1920/wind.jpg);
    }
    &.fog {
      background: url(/img/backgrounds/1920/fog.jpg);
    }
    &.cloudy {
      background: url(/img/backgrounds/1920/cloudy.jpg);
    }
    &.partly-cloudy-day {
      background: url(/img/backgrounds/1920/partly-cloudy-day.jpg);
    }
    &.partly-cloudy-night {
      background: url(/img/backgrounds/1920/partly-cloudy-night.jpg);
    }
  }
}

@media (max-width: 1200px) {
  .background {
    &.clear-day {
      background: url(/img/backgrounds/1200/clear-day.jpg);
    }
    &.clear-night {
      background: url(/img/backgrounds/1200/clear-night.jpg);
    }
    &.rain {
      background: url(/img/backgrounds/1200/rain.jpg);
    }
    &.snow {
      background: url(/img/backgrounds/1200/snow.jpg);
    }
    &.sleet {
      background: url(/img/backgrounds/1200/sleet.jpg);
    }
    &.wind {
      background: url(/img/backgrounds/1200/wind.jpg);
    }
    &.fog {
      background: url(/img/backgrounds/1200/fog.jpg);
    }
    &.cloudy {
      background: url(/img/backgrounds/1200/cloudy.jpg);
    }
    &.partly-cloudy-day {
      background: url(/img/backgrounds/1200/partly-cloudy-day.jpg);
    }
    &.partly-cloudy-night {
      background: url(/img/backgrounds/1200/partly-cloudy-night.jpg);
    }
  }
}

// Small only
@media (max-width: 600px) {
  .background {
    &.clear-day {
      background: url(/img/backgrounds/600/clear-day.jpg);
    }
    &.clear-night {
      background: url(/img/backgrounds/600/clear-night.jpg);
    }
    &.rain {
      background: url(/img/backgrounds/600/rain.jpg);
    }
    &.snow {
      background: url(/img/backgrounds/600/snow.jpg);
    }
    &.sleet {
      background: url(/img/backgrounds/600/sleet.jpg);
    }
    &.wind {
      background: url(/img/backgrounds/600/wind.jpg);
    }
    &.fog {
      background: url(/img/backgrounds/600/fog.jpg);
    }
    &.cloudy {
      background: url(/img/backgrounds/600/cloudy.jpg);
    }
    &.partly-cloudy-day {
      background: url(/img/backgrounds/600/partly-cloudy-day.jpg);
    }
    &.partly-cloudy-night {
      background: url(/img/backgrounds/600/partly-cloudy-night.jpg);
    }
  }
}

// Very small
@media (max-width: 480px) {
  .background {
    &.clear-day {
      background: url(/img/backgrounds/480/clear-day.jpg);
    }
    &.clear-night {
      background: url(/img/backgrounds/480/clear-night.jpg);
    }
    &.rain {
      background: url(/img/backgrounds/480/rain.jpg);
    }
    &.snow {
      background: url(/img/backgrounds/480/snow.jpg);
    }
    &.sleet {
      background: url(/img/backgrounds/480/sleet.jpg);
    }
    &.wind {
      background: url(/img/backgrounds/480/wind.jpg);
    }
    &.fog {
      background: url(/img/backgrounds/480/fog.jpg);
    }
    &.cloudy {
      background: url(/img/backgrounds/480/cloudy.jpg);
    }
    &.partly-cloudy-day {
      background: url(/img/backgrounds/480/partly-cloudy-day.jpg);
    }
    &.partly-cloudy-night {
      background: url(/img/backgrounds/480/partly-cloudy-night.jpg);
    }
  }
}

// Very small
@media (max-width: 360px) {
  .background {
    &.clear-day {
      background: url(/img/backgrounds/360/clear-day.jpg);
    }
    &.clear-night {
      background: url(/img/backgrounds/360/clear-night.jpg);
    }
    &.rain {
      background: url(/img/backgrounds/360/rain.jpg);
    }
    &.snow {
      background: url(/img/backgrounds/360/snow.jpg);
    }
    &.sleet {
      background: url(/img/backgrounds/360/sleet.jpg);
    }
    &.wind {
      background: url(/img/backgrounds/360/wind.jpg);
    }
    &.fog {
      background: url(/img/backgrounds/360/fog.jpg);
    }
    &.cloudy {
      background: url(/img/backgrounds/360/cloudy.jpg);
    }
    &.partly-cloudy-day {
      background: url(/img/backgrounds/360/partly-cloudy-day.jpg);
    }
    &.partly-cloudy-night {
      background: url(/img/backgrounds/360/partly-cloudy-night.jpg);
    }
  }
}

// Very, super extra tiny
@media (max-width: 240px) {
  .background {
    &.clear-day {
      background: url(/img/backgrounds/240/clear-day.jpg);
    }
    &.clear-night {
      background: url(/img/backgrounds/240/clear-night.jpg);
    }
    &.rain {
      background: url(/img/backgrounds/240/rain.jpg);
    }
    &.snow {
      background: url(/img/backgrounds/240/snow.jpg);
    }
    &.sleet {
      background: url(/img/backgrounds/240/sleet.jpg);
    }
    &.wind {
      background: url(/img/backgrounds/240/wind.jpg);
    }
    &.fog {
      background: url(/img/backgrounds/240/fog.jpg);
    }
    &.cloudy {
      background: url(/img/backgrounds/240/cloudy.jpg);
    }
    &.partly-cloudy-day {
      background: url(/img/backgrounds/240/partly-cloudy-day.jpg);
    }
    &.partly-cloudy-night {
      background: url(/img/backgrounds/240/partly-cloudy-night.jpg);
    }
  }
}