/*
 * Created with iconvau.lt
 */

$forecast-font-base: "../font/forecast-font";

@font-face {
  font-family: "iconvault";
  src: url($forecast-font-base + "/iconvault_forecastfont.eot");
  src: url($forecast-font-base + "/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
  url($forecast-font-base + "/iconvault_forecastfont.woff") format("woff"),
  url($forecast-font-base + "/iconvault_forecastfont.ttf") format("truetype"),
  url($forecast-font-base + "/iconvault_forecastfont.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}

.weather-icon-container {
  height: 1.1em;
  display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'iconvault';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;

  display: block;
  min-height: 100%;
  line-height: 1.2;

}

.icon-night:before,
.icon-sunny:before,
.icon-frosty:before,
.icon-windysnow:before,
.icon-showers:before,
.icon-basecloud:before,
.icon-cloud:before,
.icon-rainy:before,
.icon-mist:before,
.icon-windysnowcloud:before,
.icon-drizzle:before,
.icon-snowy:before,
.icon-sleet:before,
.icon-moon:before,
.icon-windyrain:before,
.icon-hail:before,
.icon-sunset:before,
.icon-windyraincloud:before,
.icon-sunrise:before,
.icon-sun:before,
.icon-thunder:before,
.icon-windy:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-frosty:before {
  content: "\f102";
}

.icon-windysnow:before {
  content: "\f103";
}

.icon-showers:before {
  content: "\f104";
}

.icon-basecloud:before {
  content: "\f105";
}

.icon-rainy:before {
  content: "\f107";
}

.icon-mist:before {
  content: "\f108";
}

.icon-windysnowcloud:before {
  content: "\f109";
}

.icon-drizzle:before {
  content: "\f10a";
}

.icon-snowy:before {
  content: "\f10b";
}

.icon-sleet:before {
  content: "\f10c";
}

.icon-moon:before {
  content: "\f10d";
  color: #999;
}

.icon-windyrain:before {
  content: "\f10e";
}

.icon-hail:before {
  content: "\f10f";
}

.icon-sunset:before {
  content: "\f110";
}

.icon-windyraincloud:before {
  content: "\f111";
}

.icon-sunrise:before {
  content: "\f112";
}

.icon-thunder:before {
  content: "\f114";
}

.icon-windy:before {
  content: "\f115";
}

.sun {

  font-family: 'iconvault';
  font-weight: 500;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-size: 1.4em;
  position: absolute;
  top: 20px;
  margin-right: -30px;
  margin-left: -30px;
  -webkit-animation: rotation 12s infinite linear;

}

/* -----BaseCloud----- */
.basecloud:before {
  font-family: 'iconvault';
  content: '\f105';
  position: absolute;
  color: #999;
  margin-top: .2em;
}

/* -----windyraincloud----- */

.windyraincloud:before {
  font-family: 'iconvault';
  content: '\f111';
  position: absolute;
  color: #999;
}

/* -----Windysnowcloud----- */

.windysnowcloud:before {
  font-family: 'iconvault';
  content: '\f109';
  position: absolute;
  color: #999;
}

/* -----Basethundercloud----- */

.basethundercloud:before {
  font-family: 'iconvault';
  content: '\f105';
  position: absolute;
  color: #000;

}

/* -----Thunder----- */
.icon-thunder::before {
  content: "\f114";
  position: absolute;
  color: #ffc107;
}

/* -----Sunny----- */
.icon-sunny::after {
  content: "\f101";
  color: #ffc107;
  position: absolute;
  margin-top: -.1em;
}

/* -----Drizzle----- */
.icon-drizzle::before {
  content: "\f10a";
  color: #64B5F6;
  position: absolute;
  margin-top: -.1em;
}

/* -----Hail----- */
.icon-hail::before {
  content: "\f10f";
  position: absolute;
  color: #999;
}

/* -----Showers----- */
.icon-showers::before {
  content: "\f104";
  position: absolute;
  color: #64b5f6;
  margin-top: -.1em;
}

/* -----Rainy----- */

.icon-rainy::before {
  content: "\f107";
  position: absolute;
  color: #2196F3;
  margin-top: -.1em;
}

/* -----Snowy----- */
.icon-snowy::before {
  content: "\f10b";
  position: absolute;
  color: #64b5f6;
}

/* -----Frosty----- */
.icon-frosty::before {
  content: "\f102";
  position: absolute;
  color: #90caf9;
}

/* -----Windy----- */
.icon-windy::before {
  content: "\f115";
  position: absolute;
  color: #999;
}

/* -----WindyRain----- */
.icon-windyrain::before {
  content: "\f10e";
  position: absolute;
  color: #acd3f3;
}

/* -----WindySnow----- */
.icon-windysnow::before {
  content: "\f103";
  position: absolute;
  color: #90CAF9;
}

/* -----Sleet----- */
.icon-sleet::before {
  content: "\f10c";
  position: absolute;
  color: #90CAF9;

}

/* -----Night----- */
.icon-night::after {
  content: "\f100";
  position: absolute;
  color: #ffc107;
}

/* -----Sun----- */

.icon-sun::after {
  content: "\f113";
  color: #ffc107;
  position: relative;
}

/* -----Cloud----- */

.icon-cloud::after {
  content: "\f106";
  color: #999;
  position: absolute;
}

.icon-basecloud-full {
  min-height: 0;
}

.icon-basecloud-full::before {

  font-family: 'iconvault';
  content: "\f106";
  color: #999;
  font-size: .9em;
  position: absolute;
  margin-left: .05em;

}

/* -----Sunrise----- */

.icon-sunrise:before {
  content: '\f112';
  color: #ffc107;
  position: absolute;
}

/* -----Sunset----- */

.icon-sunset:before {
  content: '\f110';
  color: #ff9800;
  position: absolute;
}

/* -----Mist----- */

.icon-mist:before {
  content: '\f108';
  color: #999;
  position: absolute;
  font-size: .8em;
  margin-left: .15em;
}




.pulse {
  -webkit-animation: pulse 3s ease-in-out infinite;
     -moz-animation: pulse 3s ease-in-out infinite;
       -o-animation: pulse 3s ease-in-out infinite;
          animation: pulse 3s ease-in-out infinite;
}

@-webkit-keyframes pulse { 0% { opacity: .5 } 50% { opacity: 1 } 100% { opacity: .5 } }
   @-moz-keyframes pulse { 0% { opacity: .5 } 50% { opacity: 1 } 100% { opacity: .5 } }
     @-o-keyframes pulse { 0% { opacity: .5 } 50% { opacity: 1 } 100% { opacity: .5 } }
        @keyframes pulse { 0% { opacity: .5 } 50% { opacity: 1 } 100% { opacity: .5 } }




@media (min-width: 360px) {
  .rotate {
    -webkit-animation: rotation 30s infinite linear;
    -moz-animation: rotation 30s infinite linear;
    -o-animation: rotation 30s infinite linear;
    animation: rotation 30s infinite linear;
  }
}

@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}

@-moz-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}

@-o-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}

@keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}


weather-overview, weather-summary {
  .basecloud::before, .icon-basecloud-full {
    margin-left: -.5em;
    padding-top: .15em;
  }
  .summary-now-header, [hide-xs] {
    .basecloud::before, .icon-basecloud-full,
    .icon-windy, .icon-drizzle, .icon-rainy,
    .icon-night, .icon-sunny, .icon-showers {
      margin-left: -1em;
    }
  }
  .icon-drizzle::before {
    margin-left: -.5em;
  }
  .icon-windy, .icon-drizzle, .icon-rainy,
  .icon-night, .icon-sunny, .icon-showers {
    margin-left: -.5em;
  }
  .icon-windy::before {
    margin-top: .25em;
  }
  .icon-drizzle::before,
  .icon-showers::before,
  .icon-rainy::before {
    margin-top: .15em;
  }
  .icon-cloud::after {
    font-size: .85em;
    position: relative;
  }
  .icon-mist::before {
    position: relative;
    margin-left: 0;
    font-size: .8em;
  }
}

.md-toolbar-tools {
  .basecloud:before,
  .windysnowcloud:before,
  .icon-hail::before,
  .icon-cloud::after,
  .icon-basecloud-full::before,
  .icon-mist:before,
  .icon-moon:before {
    color: #fff;
  }
}