@import "_font-awesome";

body, .main-content, .main-content > *, body > md-content {
  background-color: #eee !important;
}

md-content.md-default-theme {
  background: #eee;
}

hr {
  border-width: 1px;
  border-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.12);
  margin: 2em auto;
}

md-sidenav {
  md-content.md-default-theme {
    background: #fff;
  }
}

weather-overview, weather-summary {
  display: block;
  height: auto;
  &:hover {
    cursor: pointer;
  }
}

weather-overview {
  max-width: 600px;
  margin: 0 auto;
}

md-card {
  .caret {
    height: 29px;
    margin: 16px 0;
    line-height: 2;
    color: #444;
  }
}

.weather-background {
  background-size: cover;
  width: 100%;
  height: 164px;
  &.clear-day {
    background: url(../img/backgrounds/clear-day.jpg);
  }
  &.clear-night {
    background: url(../img/backgrounds/clear-night.jpg);
  }
  &.rain {
    background: url(../img/backgrounds/rain.jpg);
  }
  &.snow {
    background: url(../img/backgrounds/snow.jpg);
  }
  &.sleet {
    background: url(../img/backgrounds/sleet.jpg);
  }
  &.wind {
    background: url(../img/backgrounds/wind.jpg);
  }
  &.fog {
    background: url(../img/backgrounds/fog.jpg);
  }
  &.cloudy {
    background: url(../img/backgrounds/cloudy.jpg);
  }
  &.partly-cloudy-day {
    background: url(../img/backgrounds/partly-cloudy-day.jpg);
  }
  &.partly-cloudy-night {
    background: url(../img/backgrounds/partly-cloudy-night.jpg);
  }
}

.md-whiteframe-z1, .md-whiteframe-z2, md-dialog > md-content.md-default-theme {
  background: #fff;
}

.transparent-background {
  background-color: transparent !important;
}

.md-tile-left {

  height: 56px;
  width: 56px;
  border-radius: 50%;
  margin-right: -10px;
  margin-left: -2px;

  .md-font.wi {
    position: relative;
    font-size: 36px;
    &.wi-cloudy {
      top: 2px;
      left: 3px;
    }
    &.wi-rain {
      top: -.07em;
      left: .05em;
    }
    &.wi-day-sunny {
      top: 2px;
      left: 3px;
    }
    &.wi-day-cloudy {
      top: 5px;
      font-size: 33px;
      left: 2px;
    }
    &.wi-night-cloudy {
      left: 3px;
      top: 2px;
    }
  }

}

.location-title {
  color: #fff;
  padding: 1em;
  text-shadow: 0 1px 1px rgba(0,0,0,.67);
  .location-label { }
  .location-temperature {
    font-weight: bold;
    font-size: 4em;
    line-height: 1;
  }
}

@media(min-width: 600px) {
  weather-overview {
    md-card {
      min-height: 351px;
      p {
        min-height: 87px;
      }
    }
  }
}

@media (max-width: 360px) {
  .md-sidenav-right {
    transform: translate3d(-85%, 0px, 0px);
  }
}

@media (max-width: 240px) {
  .md-sidenav-right {
    transform: translate3d(-67%, 0px, 0px);
  }
}

.main-content {
  padding-top: 8px;
}

.container-narrow {
  max-width: 600px;
  margin: 0 auto;
}

.search-box {

  min-height: 3em;
  padding: 0 8px;

  md-progress-linear {
    position: relative;
    top: -5px;
  }

  input {
    border: 0;
    width: 100%;
    height: 3em;
    padding: .5em;
  }

}

.text-center {
  text-align: center;
}

md-card, md-card-content {
  background-color: #fff;
}

.no-break {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.auto-size {
  height: auto !important;
  width: auto !important;
}

.divider {
  margin-left: .2em;
  margin-right: .2em;
}

.monetize-logo {
  max-height: 18px;
}

.animate-repeat {
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  list-style: none;
  box-sizing: border-box;
  overflow-y: hidden;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 160px;
}

////
.animate-switch-container, .animate-switch-img-container {

}

.telemetry-img {
  height: 1px;
  width: 1px;
  background: transparent;
  position: absolute;
  left: -9999px;
  top: -9999px;
}

md-content {
  overflow-x: hidden;
}

.animate-switch-container {

  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  .animate-switch-animation.ng-enter,
  .animate-switch-animation.ng-leave {
    transform: translateZ(0);
    perspective: 1000px;
    backface-visibility: hidden;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    position: relative;
    overflow: hidden;
  }

  .animate-switch-animation.ng-enter {
    left: 200%;
    opacity: 0;
    z-index: 1;
  }

  .animate-switch-animation.ng-leave,
  .animate-switch-animation.ng-enter.ng-enter-active {
    opacity: 1;
    left: 0;
  }

  .animate-switch-animation.ng-leave.ng-leave-active {
    position: absolute;
    top: -8px;
    left: -100%;
    opacity: 0;
    z-index: 0;
  }
}

//@import "_platforms";

[ng-view] {

  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;

  &.ng-enter, &.ng-leave{
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transform: translateZ(0);
    perspective: 1000px;
    backface-visibility: hidden;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
  }

  &.ng-enter {
    left: 200%;
    z-index: 1;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    left: 0;
  }

  &.ng-leave.ng-leave-active {
    left: -200%;
    z-index: 0;
  }
}