@import "_forecast-font";

$text-color: #445A64;

.ionic-body, body {
  overflow: auto;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
}

md-sidenav {
  min-width: 215px;
  max-width: 85%;
  width: auto;

  a {
    font-size: 1.5rem;
  }
}
md-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

ol, ul {
  &.bullets {
    list-style: inside;
  }

}

hr {
  border-width: 1px;
  border-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  margin: 2em auto;
}

weather-overview, weather-summary {
  display: block;
  height: auto;
}

weather-icon {
  display: block;
}

.md-tile-left {
  weather-icon {
    font-size: 48px;
    width: 48px;
    .weather-icon-container {
      position: relative;
      left: -.5em;
      .icon-sun {
        position: relative;
        left: .5em;
      }
      .icon-moon {
        position: relative;
        left: .5em;
      }
    }
  }
}

weather-overview {
  margin: 1em auto;
}

weather-overview, weather-summary {
  weather-icon {
    font-size: 2em;
  }
}

[layout-padding] > div {
  padding: 8px;
}

md-card {
  .caret {
    height: 29px;
    margin: 16px 0;
    line-height: 2;
    color: $text-color;
  }
}

.weather-background {

  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  width: 100%;
  height: 366px;

  &.clear-day {
    background: url(../img/backgrounds/clear-day.jpg);
  }
  &.clear-night {
    background: url(../img/backgrounds/clear-night.jpg);
  }
  &.rain {
    background: url(../img/backgrounds/rain.jpg);
  }
  &.snow {
    background: url(../img/backgrounds/snow.jpg);
  }
  &.sleet {
    background: url(../img/backgrounds/sleet.jpg);
  }
  &.wind {
    background: url(../img/backgrounds/wind.jpg);
  }
  &.fog {
    background: url(../img/backgrounds/fog.jpg);
  }
  &.cloudy {
    background: url(../img/backgrounds/cloudy.jpg);
  }
  &.partly-cloudy-day {
    background: url(../img/backgrounds/partly-cloudy-day.jpg);
  }
  &.partly-cloudy-night {
    background: url(../img/backgrounds/partly-cloudy-night.jpg);
  }
}

.md-whiteframe-z1, .md-whiteframe-z2, md-dialog > md-content.md-default-theme {
  background: #fff;
}

.transparent-background {
  background-color: transparent !important;
}

.current-location {
  md-checkbox {
    margin: 0;
  }
}

.sidenav-header-icon {
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, .1);
  margin: 0 auto;
  border-radius: 50%;
  padding-top: 4px;
  border: 4px solid #fff;
}

md-toolbar {
  .md-button {
    font-size: 1em;
    margin: 0;
    min-width: 48px;
  }
  * {
    color: #fff;
  }
}

.md-fab {
  md-icon {
    .icon.md-font {
      font-size: 2em;
      line-height: 2;
      position: relative;
      top: -.5em;
    }
  }
}
.locations-list {
  md-card-content {
    padding: .5em 0 .33em;
  }
}
.md-button {
  min-width: 48px;

  .md-font.icon {
    font-size: 1.33em;
  }
}

md-sidenav, .settings-list {
  md-item-content {
    line-height: 3;
    padding: 8px 0;
  }
}

.md-tile-left {

  border-radius: 50%;
  margin-right: 12px;
  margin-left: -12px;

  .md-font.wi, .md-font.icon {

    position: relative;
    font-size: 4em;
    color: $text-color;

    &.wi-cloudy {
      top: 2px;
      left: 3px;
    }
    &.wi-rain {
      top: -.07em;
      left: .05em;
    }
    &.wi-day-sunny {
      top: 2px;
      left: 3px;
    }
    &.wi-day-cloudy {
      top: 5px;
      font-size: 33px;
      left: 2px;
    }
    &.wi-night-cloudy {
      left: 3px;
      top: 2px;
    }
  }

}

.overview-slide p {
  min-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-forecast {
  height: 100px;
}

.location-title {
  .location-label {
  }
  .location-temperature {
    font-weight: bold;
    font-size: 4em;
    line-height: 1;
  }
}

.container-narrow {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.overview-location, .home-banner {
  padding: 8px 0;
  &, * {
    color: #fff
  }
}

h3, .h3 {
  &.wi {
    margin-bottom: 0;
  }
}
[ng-link] {
  cursor: pointer;
}
.home-banner {
  background: transparent linear-gradient(#0143A3, #0273D4) repeat scroll 0% 0%;
  margin-bottom: 2em;
  padding: 0;
  &, * {
    color: #FFF;
  }

  .logo {
      width: 128px;
      max-width: 80%;
  }

  .banner-logo {
    font-size: 10em;
    margin: -16px 0;
  }

  h3 {
    margin: 0;
  }

}

md-list-item {
  md-select {
    padding: 0 0 4px;
    .md-select-label {
      border-bottom-color: transparent;
    }
  }
}

.add-btn {
  position: fixed; bottom: .5em; right: .5em;
}

.padding {
  padding: 1em .5em;
}
.home-banner {
  height: auto;
}

.background-sf-paper {
  background: transparent url("../img/sf-paper.png") no-repeat scroll center bottom / 100% auto;
}
md-fab-speed-dial.top-left {
  position: fixed;
  right: 1em;
  top: .5em;
  z-index: 999;
}
md-toolbar {
  min-height: 48px;

  &.white {
    background-color: #fff;
    * {
      color: $text-color;
    }
  }
  .md-toolbar-tools {

    &, .md-title {
      font-size: 1em;
    }

    .md-font.icon {
      font-size: .8em;
    }

    height: 48px;
    max-height: 48px;
  }
}

.md-padding {
  padding: 16px;
}
.summary-inner {

  padding: 0 0 4em;
  md-card {
    margin: 1em 0;
  }
}

weather-overview  {
  .md-toolbar-tools {
    font-size: .8em !important;
    &[show-xs] {
      [flex] {
        > * {
          line-height: 2.33 !important;
        }

      }
    }

  }

}

  .summary-now-header {
    margin-top: -4px;
    strong {
      font-size: 0.5em;
      float: left;
    }
    padding: 0 !important;
    weather-icon {
      font-size: 1.5em;
    }
  }

  .user-locations {
    p {
      padding: 1em 1.5em .5em;
    }
  }

  .search-results {
    md-card-content {
      padding: 2em 1.5em;
    }
  }

  .search-box {

    min-height: 2.67em;
    padding: 0 8px !important;
    margin-top: 8px;

    md-progress-linear {
      position: relative;
      top: -5px;
    }

    input {
      border: 0;
      width: 100%;
      height: 4em;
      padding: .5em 1.5em;
    }

  }

  .text-center {
    text-align: center;
  }

  md-card, md-card-content {
    background-color: #fff;
  }

  .no-break {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .auto-size {
    height: auto !important;
    width: auto !important;
  }

  .divider {
    margin-left: .2em;
    margin-right: .2em;
  }

  .monetize-logo {
    max-height: 18px;
  }

  .animate-repeat {
    transform: translateZ(0);
    perspective: 1000px;
    backface-visibility: hidden;
    list-style: none;
    box-sizing: border-box;
    overflow-y: hidden;
  }

  [ng-view] {
    * > {
      max-width: 100%;
    }
  }

  .animate-repeat.ng-move,
  .animate-repeat.ng-enter,
  .animate-repeat.ng-leave {
    transform: translateZ(0);
    perspective: 1000px;
    backface-visibility: hidden;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  }

  .animate-repeat.ng-leave.ng-leave-active,
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
  }

  .animate-repeat.ng-leave,
  .animate-repeat.ng-move.ng-move-active,
  .animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 160px;
  }

  .telemetry-img {
    height: 1px;
    width: 1px;
    background: transparent;
    position: absolute;
    left: -9999px;
    top: -9999px;
  }

  .strikethrough {
    text-decoration: line-through;
  }

  md-content {
    overflow-x: hidden;
  }

  md-backdrop.md-opaque.md-default-theme {
    background-color: rgba(0, 0, 0, .75);
  }

  .overview-location-title {
    margin-bottom: 0;
  }

  .weather-badge {

    font-size: 4.5rem;
    text-align: center;
    width: 160px;
    height: 160px;
    background: rgba(0, 0, 0, .06);
    border-radius: 50%;
    padding: 0 16px 16px;

    .title {
      font-size: 1.33rem;
      font-weight: bold;
      position: relative;
      top: 1.33rem;
    }

    weather-icon {
      display: inline-block;
    }

    temperature-item {
      margin-top: 4px;
      font-size: 2.5rem;
    }

  }

  .units-help-dialog {
    width: 300px;
    max-width: 95%;
  }

  .spacer-bottom {
    padding-bottom: 3em !important;
  }

  @media(max-width: 600px) {

    md-fab-speed-dial.top-left {
      right: .5em;
    }
    .home-banner {
      min-height: 0;
      height: auto;
      padding: 8px;
      .logo {
        max-width: 33%;
        margin: 0 auto;
      }
      .md-display-3 {
        font-size: 3rem;
      }
      .md-headline {
        font-size: 1.2rem;
      }
    }
    weather-summary {
      .home-banner {
        padding: 0;
      }
    }
    .summary-view-menu {
      margin-top: 8px;
    }
    .home-banner {
      margin-bottom: 0;
    }
    .summary-inner {
      padding: 0 1rem;
    }
    weather-summary {
      .home-banner {
        min-height: 0;
      }
    }
  }

  @media(max-width: 480px) {

    .summary-inner {
      padding: 0 8px;
    }

    .banner-logo {
      font-size: 8em !important;
    }

    weather-overview {
      .mini-forecast:nth-child(n+6) {
        display: none;
      }
    }
  }

  @media (max-width: 360px) {
    [hide-xs] {
      display: none !important;
    }
    [show-xs] {
      display: initial !important;
    }
    .md-sidenav-right {
      transform: translate3d(-85%, 0px, 0px);
    }
    weather-overview, weather-summary {
      .mini-forecast:nth-child(n+5) {
        display: none;
      }
    }
  }

  @media (max-width: 240px) {
    [hide-tiny] {
      display: none;
    }
    .md-sidenav-right {
      transform: translate3d(-67%, 0px, 0px);
    }
    weather-overview {
      .mini-forecast:nth-child(-n+1) {
        display: none;
      }
      .mini-forecast:nth-child(n+5) {
        display: none;
      }
    }
  }

  @import "_platforms";
