md-content(layout='column')
    md-subheader.md-primary {{ "About" | translate:language.translator.current }}
    md-content(layout='column')
        md-list
            md-item
                md-item-content
                    a
                        i.fa.fa-fw.fa-globe
                        span.divider Web
                md-divider
            md-item
                md-item-content
                    a
                        i.fa.fa-fw.fa-linux
                        span.divider Ubuntu
                md-divider
            md-item
                md-item-content
                    a
                        i.fa.fa-fw.fa-windows
                        span.divider Windows
                md-divider
            md-item
                md-item-content
                    a
                        i.fa.fa-fw.fa-android
                        span.divider Android
                md-divider
            md-item
                md-item-content
                    a
                        i.fa.fa-fw.fa-apple
                        span.divider iPhone/iPad/iPod
                md-divider
            md-item
                md-item-content
                    a
                        i.fa.fa-fw.fa-mobile
                        span.divider Blackberry
                md-divider