div(flex)
    .home-banner(layout, layout-fill)
        .background-sf-paper.md-padding(flex, layout, layout-fill)
            section(flex, layout, layout-fill)
                .container-narrow(layout)
                    div(flex, layout='row', column, layout-fill, layout-align='start end')
                        h1.md-display-2 {{ "Feedback" | translate:language.translator.current }}
    md-content.container-narrow(flex)
        md-card
            md-card-content
                div(ng-hide='online', flex, layout='column', layout-align='center center')
                    p You are not online. Please connect to a network to send feedback.
                div(ng-show='online', layout='column', layout-fill)
                    .row(layout)
                        p {{ "I'm Feeling..." | translate:language.translator.current }}
                        div(flex)
                        p
                            md-button.md-fab.md-raised(ng-click='feedback.mood = "happy";', ng-class="{'md-primary': feedback.mood == 'happy'}", aria-label='Happy')
                                md-icon(md-font-icon='icon ion-android-happy')
                            span.divider
                            md-button.md-fab.md-raised(ng-click='feedback.mood = "sad";', ng-class="{'md-primary': feedback.mood == 'sad'}", aria-label='Sad')
                                md-icon(md-font-icon='icon ion-android-sad')
                    md-input-container
                        label {{ "Details" | translate:language.translator.current }}
                        textarea(ng-model='feedback.description', auto-grow)
                    md-input-container
                        label {{ "Your Name (optional)" | translate:language.translator.current }}
                        input(ng-model='feedback.name')
                    md-input-container
                        label {{ "Your Email (optional)" | translate:language.translator.current }}
                        input(ng-model='feedback.email')
                    div(layout='row', layout-align='end center')
                        md-button.md-primary.md-raised(ng-click='send()', aria-label='Send', ng-disabled="sending || (! feedback.subject && ! feedback.description)")
                            span(ng-hide='sending') {{ "Send" | translate:language.translator.current }}
                            span(ng-show='sending')
                                md-progress-circular(md-mode='indeterminate')
                telemetry-item(data-title='Feedback')
