div(flex)
    .home-banner(layout, layout-fill)
        .background-sf-paper.md-padded(flex, layout, layout-fill)
            section.container-narrow(flex, layout, layout-fill, layout-align='space-between center')
                .text-center(flex)
                    img.logo.hide(hide-tiny, src='img/logo.svg')
                    .banner-logo
                        span.icon-sun.rotate
                    h1.md-display-2 {{ "Weather" | translate:language.translator.current }}
                    h4.md-subhead The most secure, privacy focused weather forecast on the planet.&trade;
    .container-narrow(ng-hide='geolocation || locations.length')
        md-card(ng-link='/locations')
            md-card-content
                p {{ "Get started by adding a location or enabling geolocation." | translate:language.translator.current }}
    div(ng-show='geolocation')
        weather-overview(location='currentLocation')
    div(ng-repeat='location in locations')
        weather-overview(location='location')
    telemetry-item(data-title='Home')
