md-content(flex, layout='column', layout-fill)
    md-content(flex, layout='row', layout-fill, ng-show='locations.data.length && ! searching && ! searchResults.length')
        md-list(flex)
            md-item(ng-repeat='l in locations.data track by $index')
                md-item-content(md-swipe-left='removeLocation($index)', md-swipe-right='removeLocation($index)')
                    md-button.md-warn(hide, show-gt-sm, ng-click='removeLocation($index)')
                        i.fa.fa-times
                    span.divider(hide, show-gt-sm)
                    a.no-break(flex, ng-link='/weather/{{ l.latitude }}/{{ l.longitude }}?title={{ l.label }}') {{ l.label }}
                    md-button.md-primary(ng-link='/weather/{{ l.latitude }}/{{ l.longitude }}?title={{ l.label }}', arial-label='Go')
                        i.fa.fa-chevron-right
                md-divider
    md-content(flex, layout='row', layout-fill, ng-show='searching || searchResults.length')
        md-list(flex)
            md-item(ng-show='searching')
                md-item-content
                    p {{ "Searching..." | translate:language.translator.current }}
                md-divider
            md-item(ng-show='! searching && searchResults.length', ng-repeat='addr in searchResults track by $index')
                md-item-content(ng-click='addLocation(addr)')
                    a {{ addr.label }}
                md-divider
    md-content(flex, layout='column', layout-fill, layout-align='center center', ng-hide='searching || searchResults.length || locations.data.length')
        div(flex)
        div(layout='row', layout-fill)
            div(flex)
            div(flex-sm=66, flex=50)
                p.text-center {{ "Enter an address in the search box to find a location to add." | translate:language.translator.current }}
                p.text-center {{ "Swipe to remove addresses." | translate:language.translator.current }}
                img(ng-show='online && telemetry', ng-src='https://analytics.bitola.co/piwik.php?idsite=9&rec=1&action_name=Locations')
            div(flex)
        div(flex)
    .search.bottom(layout='row', layout-fill, layout-padding)
        md-input-container(flex)
            label {{ "Search" | translate:language.translator.current }}
            input(type='text', ng-model='searchAddress')
            md-button.clear-btn(ng-click='searchResults = []; searchAddress = "";')
                md-icon(md-font-icon='fa fa-times-circle')
        span.divider
        md-button(ng-click='search()')
            md-icon(md-font-icon='fa fa-search')


