md-content.container-narrow(flex)
    md-card
        md-cart-content(layout, layout-padding)
            md-list(flex)
                md-item
                    md-item-content(layout='row', layout-fill)
                        label.no-break(flex-sm=50, flex-gt-sm=33)
                            span {{ "Units" | translate:language.translator.current }}
                        div(flex)
                            md-button(ng-click='units = "us"') us
                            md-button(ng-click='units = "si"') si
                            md-button(ng-click='units = "ca"') ca
                            md-button(ng-click='units = "uk"') uk
                md-item
                    md-item-content(layout='row', layout-fill)
                        label.no-break(flex-sm=50, flex-gt-sm=33)
                            span {{ "Language" | translate:language.translator.current }}
                        md-select(flex, ng-model="lang", placeholder="{{ 'Language' | translate:language.translator.current }}")
                            md-option(ng-value="l.code", ng-repeat="l in language.languages track by $index") {{ l.title | translate:language.translator.current }}
                md-item
                    md-item-content(layout='row', layout-fill)
                        label.no-break(flex-sm=50, flex-gt-sm=33)
                            span {{ "Telemetry" | translate:language.translator.current }}
                        md-checkbox(ng-model='telemetry', ng-click='toggleTelemetry()',aria-label='{{ "Telemetry" | translate:language.translator.current }}')
                md-item
                    md-item-content(layout='row', layout-fill)
                        label.no-break(flex-sm=50, flex-gt-sm=33)
                            span {{ "Version" | translate:language.translator.current }}
                        p(ng-click='versionAlert(true)') {{ version }}
                md-item
                    md-item-content(layout='row', layout-fill)
                        label.no-break(flex-sm=50, flex-gt-sm=33)
                            span {{ "Cache" | translate:language.translator.current }}
                        p
                            md-button.md-warn.md-raised(ng-click='clearAll()') Delete data