div(flex)
    .home-banner(layout, layout-fill)
        .background-sf-paper.md-padding(flex, layout, layout-fill)
            section(flex, layout, layout-fill)
                .container-narrow(layout)
                    div(flex, layout='row', column, layout-fill, layout-align='start end')
                        h1.md-display-1 {{ "Settings" | translate:language.translator.current }}
    md-content.container-narrow.md-padding
        div(layout)
            md-list.settings-list(flex)
                md-list-item.md-no-proxy(ng-link='locations')
                    md-icon(md-font-icon='icon ion-map')
                    p {{ "Locations" | translate:language.translator.current }}
                    md-button(ng-link='/locations', aria-label='{{ "Locations" | translate:language.translator.current }}')
                        md-icon(md-font-icon='icon ion-chevron-right')
                md-divider
                md-list-item
                    md-icon(md-font-icon='icon ion-calculator')
                    p {{ "Units" | translate:language.translator.current }} {{ units }}
                    md-select(ng-model='units')
                        md-option(ng-value='"us"') us
                        md-option(ng-value='"ca"') ca
                        md-option(ng-value='"si"') si
                        md-option(ng-value='"uk"') uk
                md-divider
                md-list-item
                    md-icon(md-font-icon='icon ion-earth')
                    p(layout='row') {{ "Language" | translate:language.translator.current }}
                    md-select(ng-model="lang", placeholder="{{ 'Language' | translate:language.translator.current }}")
                        md-option(ng-value="l.code", ng-repeat="l in language.languages track by $index") {{ l.title | translate:language.translator.current }}
                md-divider
                md-list-item
                    md-icon(md-font-icon="icon ion-stats-bars")
                    p {{ "Telemetry" | translate:language.translator.current }}
                    md-switch(ng-model='telemetry')
                    md-divider
                md-list-item(ng-click='versionAlert(true)')
                    md-icon(md-font-icon='icon ion-fork-repo')
                    p {{ "Version" | translate:language.translator.current }}
                    md-button {{ version }}
                md-divider
                md-list-item(ng-click='clearAll()')
                    md-icon(md-font-icon='icon ion-trash-b')
                    p {{ "Delete App Data" | translate:language.translator.current }}