md-content(flex, layout='column', layout-fill)
    md-content(ng-show='! report && online', flex, layout='row', layout-fill, layout-algin='center center')
        div(flex)
        div(layout, layout-fill, layout-align='center center')
            md-progress-circular.md-accent(md-mode="indeterminate", md-diameter=100)
        div(flex)
    md-content(ng-hide='report || online', flex, layout='column', layout-fill, layout-align='center center')
        div(flex)
        div(layout='row', layout-align='space-around center')
            div(flex-sm=66, flex=50) {{ "Please go online to get the the forecast." | translate:language.translator.current }}
        div(flex)
    md-content.weather-container(ng-show='report', flex, layout='column')
        .details-selector(layout='row', layout-fill, layout-padding, layout-align='center center')
            div(flex) {{ title | translate:language.translator.current }}
            div.divider
                md-button(ng-click="data.selectedView = 'hourly'; selectedDay = report.hourly.data[0]")
                    md-icon(md-font-icon='fa fa-clock-o')
            div.divider
                md-button(ng-click="data.selectedView = 'week'; selectedDay = report.daily.data[0]")
                    md-icon(md-font-icon='fa fa-calendar-o')
            div.divider
                md-button(ng-click="refresh()")
                    md-icon(md-font-icon='fa fa-refresh', ng-class='{"fa-spin": refreshing}')
        weather-summary(day='selectedDay || report.hourly.data[0]', offset='report.offset')
        .extra-info(ng-show='data.selectedView == "hourly"')
            h2 {{ "Hourly" | translate:language.translator.current }}
            md-list.mini-summary(layout='column', layout-fill)
                md-item(ng-click='$parent.selectedDay = info; ; scrollTo()', ng-repeat='info in report.hourly.data track by $index')
                    md-item-content(layout='row', layout-fill, layout-wrap)
                        .mini-summary-col(flex=20)
                            p {{ info.time | timestamp:report.offset | date:'h a' | translate:language.translator.current }}
                        .mini-summary-col(flex=20)
                            weather-icon(ng-icon='{{ info.icon }}')
                        .mini-summary-col(flex=20)
                            temperature-item(temp='info.temperature')
                        .mini-summary-col(flex=40)
                            p {{ info.summary }}
                    md-divider
        .extra-info(ng-show='data.selectedView == "week"')
            h2 {{ "Extended" | translate:language.translator.current }}
            md-list.mini-summary(layout='column', layout-fill)
                md-item(ng-repeat='info in report.daily.data track by $index', ng-click='$parent.selectedDay = info; scrollTo()')
                    md-item-content(layout='row', layout-fill, layout-wrap)
                        .mini-summary-col(flex=15, flex-sm=25)
                            p {{ info.time | timestamp | date:'EEE' | translate:language.translator.current }}
                        .mini-summary-col(flex=15, flex-sm=25)
                            weather-icon(ng-icon='{{ info.icon }}')
                        .mini-summary-col(flex=15, flex-sm=25)
                            temperature-item(temp='info.temperatureMax')
                        .mini-summary-col(flex=15, flex-sm=25)
                            temperature-item(temp='info.temperatureMin')
                        .mini-summary-col(flex, flex-sm=100)
                            p {{ info.summary }}
                    md-divider
        img(ng-show='online && telemetry', ng-src='https://analytics.bitola.co/piwik.php?idsite=9&rec=1&action_name=Weather')