div(ng-show='location')
    md-card
        .weather-background(ng-show='report', ng-class='currently.icon')
            .location-title
                .location-label {{ location.label | translate:language.translator.current }}
                .location-temperature
                    temperature-item(temp='currently.temperature')
                .location-label {{ currently.time | timestamp:offset | date:'shortTime' | translate:language.translator.current }}
        md-card-content(layout='column')
            div(ng-hide='report', layout='column', layout-align='space-around center')
                md-progress-circular(md-mode="indeterminate")
                p {{ "Getting the forecast..." | translate:language.translator.current }}
            div(ng-show='report')
                p {{ daily.data[0].summary }}
                div(layout='row', layout-fill, layout-align='space-around center')
                    .mini-forecast(ng-repeat='day in daily.data', layout='column', layout-align='center center')
                        div
                            small {{ day.time | timestamp:offset | date:'EEE' }}
                        div
                            weather-icon(ng-icon='{{ day.icon }}')
                        div
                            temperature-item(temp='day.temperatureMax')