.animate-switch-container.container-narrow(ng-show='location', ng-switch="selection", ng-swipe-right='goBack()', ng-swipe-left='nextFrame()', ng-click='nextFrame()')
    md-card.animate-switch-animation(ng-switch-when='extended')
        .weather-background(ng-class='daily.icon', ng-show='report')
            .location-title
                .location-label {{ location.label }}
                .location-temperature
                    temperature-item(temp='currently.temperature')
                .location-label {{ currently.time | timestamp:offset | date:'shortTime' | translate:language.translator.current }}
        md-card-content(layout='column')
            div(ng-hide='report', layout='column', layout-align='space-around center')
                md-progress-circular(md-mode="indeterminate")
                p {{ "Getting the forecast..." | translate:language.translator.current }}
            div(ng-show='report')
                    p {{ daily.summary }}
                    md-list
                        md-item(ng-repeat='day in daily.data')
                            md-item-content
                                .md-tile-left
                                    weather-icon(ng-icon='{{ day.icon }}')
                                .md-tile-content
                                    h3 {{ day.time | timestamp:offset | date:'EEEE' }}
                                    h4
                                        | {{ "High" | translate:language.translator.current }}
                                        span.divider
                                        temperature-item(temp='day.temperatureMax')
                                        | &mdash; {{ "Low" | translate:language.translator.current }}
                                        span.divider
                                        temperature-item(temp='day.temperatureMin')
                                    p {{ day.summary }}
                            md-divider(ng-hide='$last')
    md-card.animate-switch-animation(ng-switch-when='hourly')
        .weather-background(ng-class='hourly.icon', ng-show='report')
            .location-title
                .location-label {{ location.label }}
                .location-temperature
                    temperature-item(temp='currently.temperature')
                .location-label {{ currently.time | timestamp:offset | date:'shortTime' | translate:language.translator.current }}
        md-card-content(layout='column')
            div(ng-hide='report', layout='column', layout-align='space-around center')
                md-progress-circular(md-mode="indeterminate")
                p {{ "Getting the forecast..." | translate:language.translator.current }}
            div(ng-show='report')
                p {{ hourly.summary }}
                md-list
                    md-item(ng-repeat='hour in hourly.data')
                        md-item-content(layout='row', layout-fill, layout-wrap, layout-padding, layout-align='center center')
                            .md-tile-left
                                weather-icon(ng-icon='{{ hour.icon }}')
                            .md-tile-content
                                h3 {{ hour.time | timestamp:offset | date:'EEEE' }}, {{ hour.time | timestamp:offset | date:'shortTime' }}
                                p
                                    temperature-item(temp='hour.temperature')
                                    span.divider &mdash;
                                    span {{ hour.summary }}
                        md-divider(ng-hide='$last')
    md-card.animate-switch-animation(ng-switch-default)
        .weather-background(ng-class='currently.icon', ng-show='report')
            .location-title
                .location-label {{ location.label }}
                .location-temperature
                    temperature-item(temp='currently.temperature')
                .location-label {{ currently.time | timestamp:offset | date:'shortTime' | translate:language.translator.current }}
        md-card-content(layout='column')
            div(ng-hide='report', layout='column', layout-align='space-around center')
                md-progress-circular(md-mode="indeterminate")
                p {{ "Getting the forecast..." | translate:language.translator.current }}
            div(ng-show='report')
                p.summary {{ currently.summary | translate:language.translator.current }}
                div(ng-hide='report', layout='column', layout-align='space-around center')
                    .data-box(flex=20, flex-md=25, flex-sm=50, ng-show='currently.apparentTemperature')
                        .info
                            md-icon(md-font-icon='wi wi-thermometer')
                            temperature-item(flex, temp='currently.apparentTemperature')
                    .data-box(flex=20, flex-md=25, flex-sm=50)
                        .info
                            md-icon(md-font-icon='wi wi-fog')
                            humidity(value='currently.humidity')
                    .data-box(flex=20, flex-md=25, flex-sm=50)
                        .info
                            md-icon(md-font-icon='wi wi-cloud')
                            cloud-cover(value='currently.cloudCover')
                    .data-box(flex=20, flex-md=25, flex-sm=50)
                        .info
                            md-icon(md-font-icon='wi wi-sprinkles')
                            temperature-item(temp='currently.dewPoint')
                    .data-box(flex=20, flex-md=25, flex-sm=50)
                        .info
                            md-icon(md-font-icon='wi wi-strong-wind')
                            wind-speed(speed='currently.windSpeed')
                    .data-box(flex=20, flex-md=25, flex-sm=50)
                        .info
                            md-icon(md-font-icon='fa fa-sun-o')
                            ozone(ozone='currently.ozone')
                    .data-box(flex=20, flex-md=25, flex-sm=50, ng-show='currently.visibility')
                        .info
                            md-icon(md-font-icon='fa fa-eye')
                            visibility(value='currently.visibility')
                    .data-box(flex=20, flex-md=25, flex-sm=50, ng-show='currently.nearestStormDistance')
                        .info
                            md-icon(md-font-icon='wi wi-night-thunderstorm')
                            nearest-storm(value='currently.nearestStormDistance')
                    .data-box(flex=20, flex-md=25, flex-sm=50, ng-show='currently.moonPhase', hide, show-gt-sm)
                        .info
                            moon-icon(value='currently.moonPhase')
                    .data-box(flex=20, flex-md=25, flex-sm=50, ng-show='currently.sunriseTime')
                        .info
                            md-icon(md-font-icon='wi wi-sunrise')
                            span {{ currently.sunriseTime | timestamp:offset | date:'h:mm a' }}
                    .data-box(flex=20, flex-md=25, flex-sm=50, ng-show='currently.sunsetTime')
                        .info
                            md-icon(md-font-icon='wi wi-sunset')
                            span {{ currently.sunriseTime | timestamp:offset | date:'h:mm a' }}
                    .data-box(flex=20, flex-md=25, flex-sm=50, hide, show-gt-sm)
                        .info
                            barometric-pressure.info.no-break(value='currently.pressure')

