md-dialog(aria-label='{{ "New Version" | translate:language.translator.current }}')
    md-content.md-padding
        h3 {{ "Welcome to Weather" | translate:language.translator.current }}
            span.divider
            small v{{ version }}
        hr
        p {{ "Here's what's new:" | translate:language.translator.current }}
        ul.bullets
            li(ng-repeat='item in changes track by $index') {{ item | translate:language.translator.current }}
    .md-actions(layout='row')
        md-button.md-primary(ng-click='done()') {{ "Ok, got it!" | translate:language.translator.current }}