div(ng-switch='icon')
    .weather-icon-container(ng-switch-when='clear-day')
        .icon-sun.rotate
    .weather-icon-container(ng-switch-when='clear-night')
        .icon-moon
    .weather-icon-container(ng-switch-when='rain')
        .inner
            .basecloud
            .icon-showers.pulse
    .weather-icon-container(ng-switch-when='snow')
        .basecloud
        .icon-snowy.pulse
    .weather-icon-container(ng-switch-when='sleet')
        .basecloud
        .icon-sleet.pulse
    .weather-icon-container(ng-switch-when='wind')
        .basecloud
        .icon-windy.pulse
    .weather-icon-container(ng-switch-when='fog')
        .icon-mist
    .weather-icon-container(ng-switch-when='cloudy')
        .icon-cloud
    .weather-icon-container(ng-switch-when='partly-cloudy-day')
        .icon-basecloud-full
        .icon-sunny
    .weather-icon-container(ng-switch-when='partly-cloudy-night')
        .icon-basecloud-full
        .icon-night
