<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.bitola.Weather" version="0.1.7.1436255208" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Weather</name>
  <description>Ad-free, accurate, private, secure weather app.</description>
  <author email="inbox@bitola.co" href="https://bitola.co">Bitola Software Co. &lt;inbox@bitola.co&gt;</author>
  <preference name="KeyboardShrinksView" value="true"/>
  <preference name="StatusBarOverlaysWebView" value="false"/>
  <preference name="StatusBarBackgroundColor" value="#000000"/>
  <preference name="iosPersistentFileLocation" value="Library"/>
  <preference name="AndroidPersistentFileLocation" value="Internal"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="sms:*" launch-external="yes"/>
  <access origin="mailto:*" launch-external="yes"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <icon src="img/icons/1024.png" width="1024" height="1024"/>
  <icon src="img/icons/512.png" width="512" height="512"/>
  <icon src="img/icons/320.png" width="320" height="320"/>
  <icon src="img/icons/256.png" width="256" height="256"/>
  <icon src="img/icons/200.png" width="200" height="200"/>
  <icon src="img/icons/192.png" width="192" height="192"/>
  <icon src="img/icons/180.png" width="180" height="180"/>
  <icon src="img/icons/173.png" width="173" height="173"/>
  <icon src="img/icons/152.png" width="152" height="152"/>
  <icon src="img/icons/144.png" width="144" height="144"/>
  <icon src="img/icons/128.png" width="128" height="128"/>
  <icon src="img/icons/120.png" width="120" height="120"/>
  <icon src="img/icons/114.png" width="114" height="114"/>
  <icon src="img/icons/99.png" width="99" height="99"/>
  <icon src="img/icons/96.png" width="96" height="96"/>
  <icon src="img/icons/90.png" width="90" height="90"/>
  <icon src="img/icons/78.png" width="78" height="78"/>
  <icon src="img/icons/76.png" width="76" height="76"/>
  <icon src="img/icons/72.png" width="72" height="72"/>
  <icon src="img/icons/64.png" width="64" height="64"/>
  <icon src="img/icons/62.png" width="62" height="62"/>
  <icon src="img/icons/60.png" width="60" height="60"/>
  <icon src="img/icons/58.png" width="58" height="58"/>
  <icon src="img/icons/57.png" width="57" height="57"/>
  <icon src="img/icons/48.png" width="48" height="48"/>
  <icon src="img/icons/36.png" width="36" height="36"/>
  <icon src="img/icons/30.png" width="30" height="30"/>
  <icon src="img/icons/29.png" width="29" height="29"/>
  <platform name="android">
    <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
    <splash src="resources/android/splash/drawable-land-ldpi-screen.png" density="land-ldpi"/>
    <splash src="resources/android/splash/drawable-land-mdpi-screen.png" density="land-mdpi"/>
    <splash src="resources/android/splash/drawable-land-hdpi-screen.png" density="land-hdpi"/>
    <splash src="resources/android/splash/drawable-land-xhdpi-screen.png" density="land-xhdpi"/>
    <splash src="resources/android/splash/drawable-land-xxhdpi-screen.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash/drawable-land-xxxhdpi-screen.png" density="land-xxxhdpi"/>
    <splash src="resources/android/splash/drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="resources/android/splash/drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="resources/android/splash/drawable-port-hdpi-screen.png" density="port-hdpi"/>
    <splash src="resources/android/splash/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
  </platform>
</widget>