/*
 * Created with iconvau.lt
 */
@font-face {
  font-family: "iconvault";
  src: url("../font/forecast-font/iconvault_forecastfont.eot");
  src: url("../font/forecast-font/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"), url("../font/forecast-font/iconvault_forecastfont.woff") format("woff"), url("../font/forecast-font/iconvault_forecastfont.ttf") format("truetype"), url("../font/forecast-font/iconvault_forecastfont.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal; }

.weather-icon-container {
  height: 1.1em;
  display: block; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'iconvault';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: block;
  min-height: 100%;
  line-height: 1.2; }

.icon-night:before, .icon-sunny:before, .icon-frosty:before, .icon-windysnow:before, .icon-showers:before, .icon-basecloud:before, .icon-cloud:before, .icon-rainy:before, .icon-mist:before, .icon-windysnowcloud:before, .icon-drizzle:before, .icon-snowy:before, .icon-sleet:before, .icon-moon:before, .icon-windyrain:before, .icon-hail:before, .icon-sunset:before, .icon-windyraincloud:before, .icon-sunrise:before, .icon-sun:before, .icon-thunder:before, .icon-windy:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit; }

.icon-frosty:before {
  content: "\f102"; }

.icon-windysnow:before {
  content: "\f103"; }

.icon-showers:before {
  content: "\f104"; }

.icon-basecloud:before {
  content: "\f105"; }

.icon-rainy:before {
  content: "\f107"; }

.icon-mist:before {
  content: "\f108"; }

.icon-windysnowcloud:before {
  content: "\f109"; }

.icon-drizzle:before {
  content: "\f10a"; }

.icon-snowy:before {
  content: "\f10b"; }

.icon-sleet:before {
  content: "\f10c"; }

.icon-moon:before {
  content: "\f10d";
  color: #999; }

.icon-windyrain:before {
  content: "\f10e"; }

.icon-hail:before {
  content: "\f10f"; }

.icon-sunset:before {
  content: "\f110"; }

.icon-windyraincloud:before {
  content: "\f111"; }

.icon-sunrise:before {
  content: "\f112"; }

.icon-thunder:before {
  content: "\f114"; }

.icon-windy:before {
  content: "\f115"; }

.sun {
  font-family: 'iconvault';
  font-weight: 500;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-size: 1.4em;
  position: absolute;
  top: 20px;
  margin-right: -30px;
  margin-left: -30px;
  -webkit-animation: rotation 12s infinite linear; }

/* -----BaseCloud----- */
.basecloud:before {
  font-family: 'iconvault';
  content: '\f105';
  position: absolute;
  color: #999;
  margin-top: .2em; }

/* -----windyraincloud----- */
.windyraincloud:before {
  font-family: 'iconvault';
  content: '\f111';
  position: absolute;
  color: #999; }

/* -----Windysnowcloud----- */
.windysnowcloud:before {
  font-family: 'iconvault';
  content: '\f109';
  position: absolute;
  color: #999; }

/* -----Basethundercloud----- */
.basethundercloud:before {
  font-family: 'iconvault';
  content: '\f105';
  position: absolute;
  color: #000; }

/* -----Thunder----- */
.icon-thunder::before {
  content: "\f114";
  position: absolute;
  color: #ffc107; }

/* -----Sunny----- */
.icon-sunny::after {
  content: "\f101";
  color: #ffc107;
  position: absolute;
  margin-top: -.1em; }

/* -----Drizzle----- */
.icon-drizzle::before {
  content: "\f10a";
  color: #64B5F6;
  position: absolute;
  margin-top: -.1em; }

/* -----Hail----- */
.icon-hail::before {
  content: "\f10f";
  position: absolute;
  color: #999; }

/* -----Showers----- */
.icon-showers::before {
  content: "\f104";
  position: absolute;
  color: #64b5f6;
  margin-top: -.1em; }

/* -----Rainy----- */
.icon-rainy::before {
  content: "\f107";
  position: absolute;
  color: #2196F3;
  margin-top: -.1em; }

/* -----Snowy----- */
.icon-snowy::before {
  content: "\f10b";
  position: absolute;
  color: #64b5f6; }

/* -----Frosty----- */
.icon-frosty::before {
  content: "\f102";
  position: absolute;
  color: #90caf9; }

/* -----Windy----- */
.icon-windy::before {
  content: "\f115";
  position: absolute;
  color: #999; }

/* -----WindyRain----- */
.icon-windyrain::before {
  content: "\f10e";
  position: absolute;
  color: #acd3f3; }

/* -----WindySnow----- */
.icon-windysnow::before {
  content: "\f103";
  position: absolute;
  color: #90CAF9; }

/* -----Sleet----- */
.icon-sleet::before {
  content: "\f10c";
  position: absolute;
  color: #90CAF9; }

/* -----Night----- */
.icon-night::after {
  content: "\f100";
  position: absolute;
  color: #ffc107; }

/* -----Sun----- */
.icon-sun::after {
  content: "\f113";
  color: #ffc107;
  position: relative; }

/* -----Cloud----- */
.icon-cloud::after {
  content: "\f106";
  color: #999;
  position: absolute; }

.icon-basecloud-full {
  min-height: 0; }

.icon-basecloud-full::before {
  font-family: 'iconvault';
  content: "\f106";
  color: #999;
  font-size: .9em;
  position: absolute;
  margin-left: .05em; }

/* -----Sunrise----- */
.icon-sunrise:before {
  content: '\f112';
  color: #ffc107;
  position: absolute; }

/* -----Sunset----- */
.icon-sunset:before {
  content: '\f110';
  color: #ff9800;
  position: absolute; }

/* -----Mist----- */
.icon-mist:before {
  content: '\f108';
  color: #999;
  position: absolute;
  font-size: .8em;
  margin-left: .15em; }

.pulse {
  -webkit-animation: pulse 3s ease-in-out infinite;
  -moz-animation: pulse 3s ease-in-out infinite;
  -o-animation: pulse 3s ease-in-out infinite;
  animation: pulse 3s ease-in-out infinite; }

@-webkit-keyframes pulse {
  0% {
    opacity: .5; }

  50% {
    opacity: 1; }

  100% {
    opacity: .5; } }

@-moz-keyframes pulse {
  0% {
    opacity: .5; }

  50% {
    opacity: 1; }

  100% {
    opacity: .5; } }

@-o-keyframes pulse {
  0% {
    opacity: .5; }

  50% {
    opacity: 1; }

  100% {
    opacity: .5; } }

@keyframes pulse {
  0% {
    opacity: .5; }

  50% {
    opacity: 1; }

  100% {
    opacity: .5; } }

.rotate {
  -webkit-animation: rotation 12s infinite linear;
  -moz-animation: rotation 12s infinite linear;
  -o-animation: rotation 12s infinite linear;
  animation: rotation 12s infinite linear; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@-o-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

weather-overview .basecloud::before, weather-overview .icon-basecloud-full, weather-summary .basecloud::before, weather-summary .icon-basecloud-full {
  margin-left: -.5em;
  padding-top: .15em; }
weather-overview .summary-now-header .basecloud::before, weather-overview .summary-now-header .icon-basecloud-full, weather-overview .summary-now-header .icon-windy, weather-overview .summary-now-header .icon-drizzle, weather-overview .summary-now-header .icon-rainy, weather-overview .summary-now-header .icon-night, weather-overview .summary-now-header .icon-sunny, weather-overview .summary-now-header .icon-showers, weather-overview [hide-xs] .basecloud::before, weather-overview [hide-xs] .icon-basecloud-full, weather-overview [hide-xs] .icon-windy, weather-overview [hide-xs] .icon-drizzle, weather-overview [hide-xs] .icon-rainy, weather-overview [hide-xs] .icon-night, weather-overview [hide-xs] .icon-sunny, weather-overview [hide-xs] .icon-showers, weather-summary .summary-now-header .basecloud::before, weather-summary .summary-now-header .icon-basecloud-full, weather-summary .summary-now-header .icon-windy, weather-summary .summary-now-header .icon-drizzle, weather-summary .summary-now-header .icon-rainy, weather-summary .summary-now-header .icon-night, weather-summary .summary-now-header .icon-sunny, weather-summary .summary-now-header .icon-showers, weather-summary [hide-xs] .basecloud::before, weather-summary [hide-xs] .icon-basecloud-full, weather-summary [hide-xs] .icon-windy, weather-summary [hide-xs] .icon-drizzle, weather-summary [hide-xs] .icon-rainy, weather-summary [hide-xs] .icon-night, weather-summary [hide-xs] .icon-sunny, weather-summary [hide-xs] .icon-showers {
  margin-left: -1em; }
weather-overview .icon-drizzle::before, weather-summary .icon-drizzle::before {
  margin-left: -.5em; }
weather-overview .icon-windy, weather-overview .icon-drizzle, weather-overview .icon-rainy, weather-overview .icon-night, weather-overview .icon-sunny, weather-overview .icon-showers, weather-summary .icon-windy, weather-summary .icon-drizzle, weather-summary .icon-rainy, weather-summary .icon-night, weather-summary .icon-sunny, weather-summary .icon-showers {
  margin-left: -.5em; }
weather-overview .icon-windy::before, weather-summary .icon-windy::before {
  margin-top: .25em; }
weather-overview .icon-drizzle::before, weather-overview .icon-showers::before, weather-overview .icon-rainy::before, weather-summary .icon-drizzle::before, weather-summary .icon-showers::before, weather-summary .icon-rainy::before {
  margin-top: .15em; }
weather-overview .icon-cloud::after, weather-summary .icon-cloud::after {
  font-size: .85em;
  position: relative; }
weather-overview .icon-mist::before, weather-summary .icon-mist::before {
  position: relative;
  margin-left: 0;
  font-size: .8em; }

.ionic-body, body {
  overflow: auto;
  padding-top: 48px;
  color: #445A64; }

h1, h2, h3, h4, h5, h6 {
  color: #445A64; }

md-sidenav {
  min-width: 215px;
  max-width: 85%;
  width: auto; }
  md-sidenav a {
    font-size: 1.5rem; }

md-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

ol.bullets, ul.bullets {
  list-style: inside; }

hr {
  border-width: 1px;
  border-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 2em auto; }

md-sidenav md-content.md-default-theme {
  background: #fff; }
md-sidenav a {
  display: block; }
md-sidenav .icon, md-sidenav .fa {
  margin: 0 .5em 0 1em;
  font-size: 1.5em;
  line-height: 2.33;
  display: inline-block;
  vertical-align: middle;
  width: 1.3em; }

weather-overview, weather-summary {
  display: block;
  height: auto; }

weather-icon {
  display: block; }

.md-tile-left weather-icon {
  font-size: 48px;
  width: 48px; }
  .md-tile-left weather-icon .weather-icon-container {
    position: relative;
    left: -.5em; }
    .md-tile-left weather-icon .weather-icon-container .icon-sun {
      position: relative;
      left: .5em; }
    .md-tile-left weather-icon .weather-icon-container .icon-moon {
      position: relative;
      left: .5em; }

weather-overview {
  margin: 0 auto; }

weather-overview weather-icon, weather-summary weather-icon {
  font-size: 2em; }

[layout-padding] > div {
  padding: 8px; }

md-card .caret {
  height: 29px;
  margin: 16px 0;
  line-height: 2;
  color: #445A64; }

.weather-background {
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  width: 100%;
  height: 366px; }
  .weather-background.clear-day {
    background: url(../img/backgrounds/clear-day.jpg); }
  .weather-background.clear-night {
    background: url(../img/backgrounds/clear-night.jpg); }
  .weather-background.rain {
    background: url(../img/backgrounds/rain.jpg); }
  .weather-background.snow {
    background: url(../img/backgrounds/snow.jpg); }
  .weather-background.sleet {
    background: url(../img/backgrounds/sleet.jpg); }
  .weather-background.wind {
    background: url(../img/backgrounds/wind.jpg); }
  .weather-background.fog {
    background: url(../img/backgrounds/fog.jpg); }
  .weather-background.cloudy {
    background: url(../img/backgrounds/cloudy.jpg); }
  .weather-background.partly-cloudy-day {
    background: url(../img/backgrounds/partly-cloudy-day.jpg); }
  .weather-background.partly-cloudy-night {
    background: url(../img/backgrounds/partly-cloudy-night.jpg); }

.md-whiteframe-z1, .md-whiteframe-z2, md-dialog > md-content.md-default-theme {
  background: #fff; }

.transparent-background {
  background-color: transparent !important; }

.current-location md-checkbox {
  margin: 0; }

.sidenav-header-icon {
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 50%;
  padding-top: 4px;
  border: 4px solid #fff; }

.md-button .md-font.icon {
  line-height: initial;
  position: relative;
  top: -.5em; }

md-toolbar .md-button {
  top: 6px;
  font-size: 1.33em;
  margin: 0;
  min-width: 0; }
md-toolbar * {
  color: #fff; }

.md-fab md-icon .icon.md-font {
  font-size: 2em;
  line-height: 2;
  position: relative;
  top: -.5em; }

.md-button {
  min-width: 48px; }

md-sidenav md-item-content, .settings-list md-item-content {
  line-height: 3;
  padding: 8px 0; }

.md-tile-left {
  border-radius: 50%;
  margin-right: 12px;
  margin-left: -12px; }
  .md-tile-left .md-font.wi, .md-tile-left .md-font.icon {
    position: relative;
    font-size: 4em;
    color: #445A64; }
    .md-tile-left .md-font.wi.wi-cloudy, .md-tile-left .md-font.icon.wi-cloudy {
      top: 2px;
      left: 3px; }
    .md-tile-left .md-font.wi.wi-rain, .md-tile-left .md-font.icon.wi-rain {
      top: -.07em;
      left: .05em; }
    .md-tile-left .md-font.wi.wi-day-sunny, .md-tile-left .md-font.icon.wi-day-sunny {
      top: 2px;
      left: 3px; }
    .md-tile-left .md-font.wi.wi-day-cloudy, .md-tile-left .md-font.icon.wi-day-cloudy {
      top: 5px;
      font-size: 33px;
      left: 2px; }
    .md-tile-left .md-font.wi.wi-night-cloudy, .md-tile-left .md-font.icon.wi-night-cloudy {
      left: 3px;
      top: 2px; }

.overview-slide p {
  min-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis; }

.mini-forecast {
  height: 100px; }

.mini-forecast-container {
  margin: 1em 0 0; }

.location-title .location-temperature {
  font-weight: bold;
  font-size: 4em;
  line-height: 1; }

.container-narrow {
  max-width: 600px;
  margin: 0 auto; }

.overview-location, .home-banner {
  padding: 8px 0; }
  .overview-location, .overview-location *, .home-banner, .home-banner * {
    color: #fff; }

.home-banner {
  background: transparent linear-gradient(#0143A3, #0273D4) repeat scroll 0% 0%;
  margin-bottom: 2em;
  padding: 0; }
  .home-banner, .home-banner * {
    color: #FFF; }
  .home-banner .logo {
    width: 128px;
    max-width: 80%; }

weather-summary .home-banner {
  height: auto;
  min-height: 300px; }

.background-sf-paper {
  background: transparent url("../img/sf-paper.png") no-repeat scroll center bottom/100% auto; }

md-toolbar {
  min-height: 48px; }

.md-toolbar-tools {
  height: 48px;
  max-height: 48px; }
  .md-toolbar-tools, .md-toolbar-tools .md-title {
    font-size: 1.67rem; }

.summary-inner {
  padding: 0 0 4em; }
  .summary-inner md-card {
    margin: 1em 0; }

.summary-now-header {
  padding: 0 !important; }
  .summary-now-header strong {
    font-size: 0.5em;
    float: left; }
  .summary-now-header weather-icon {
    font-size: 1.5em; }

.search-box {
  min-height: 2.67em;
  padding: 0 16px !important;
  margin-top: 8px; }
  .search-box md-progress-linear {
    position: relative;
    top: -5px; }
  .search-box input {
    border: 0;
    width: 100%;
    height: 3em;
    padding: .5em; }

.text-center {
  text-align: center; }

md-card, md-card-content {
  background-color: #fff; }

.no-break {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.auto-size {
  height: auto !important;
  width: auto !important; }

.divider {
  margin-left: .2em;
  margin-right: .2em; }

.monetize-logo {
  max-height: 18px; }

.animate-repeat {
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  list-style: none;
  box-sizing: border-box;
  overflow-y: hidden; }

.animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave {
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s; }

.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move, .animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0; }

.animate-repeat.ng-leave, .animate-repeat.ng-move.ng-move-active, .animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 160px; }

.telemetry-img {
  height: 1px;
  width: 1px;
  background: transparent;
  position: absolute;
  left: -9999px;
  top: -9999px; }

.strikethrough {
  text-decoration: line-through; }

md-content {
  overflow-x: hidden; }

md-backdrop.md-opaque.md-default-theme {
  background-color: rgba(0, 0, 0, 0.75); }

.overview-location-title {
  margin-bottom: 0; }

.weather-badge {
  font-size: 4.5rem;
  text-align: center;
  width: 160px;
  height: 160px;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  padding: 0 16px 16px; }
  .weather-badge .title {
    font-size: 1.33rem;
    font-weight: bold;
    position: relative;
    top: 1.33rem; }
  .weather-badge weather-icon {
    display: inline-block; }
  .weather-badge temperature-item {
    margin-top: 4px;
    font-size: 2.5rem; }

.spacer-bottom {
  padding-bottom: 3em !important; }

@media (max-width: 600px) {
  .home-banner {
    height: auto;
    padding: 8px; }
    .home-banner .logo {
      max-width: 33%;
      margin: 0 auto; }
    .home-banner .md-display-3 {
      font-size: 4rem; }
    .home-banner .md-headline {
      font-size: 1.5rem; }
  weather-summary .home-banner {
    padding: 0; }
  .summary-view-menu {
    margin-top: 8px; }
  .home-banner {
    margin-bottom: 0; }
  .summary-inner {
    padding: 0 1rem; }
  weather-summary .home-banner {
    min-height: 200px; } }

@media (max-width: 480px) {
  weather-overview .mini-forecast:nth-child(n+6) {
    display: none; } }

@media (max-width: 360px) {
  [hide-xs] {
    display: none !important; }
  [show-xs] {
    display: initial !important; }
  .md-sidenav-right {
    transform: translate3d(-85%, 0px, 0px); }
  weather-overview .mini-forecast:nth-child(n+5), weather-summary .mini-forecast:nth-child(n+5) {
    display: none; }
  .md-tile-left {
    margin-right: 4px;
    margin-left: -12px; }
    .md-tile-left .md-font.wi, .md-tile-left .md-font.icon {
      font-size: 3em; }
  weather-summary .mini-forecast-container {
    margin: 1em 0; } }

@media (max-width: 240px) {
  [hide-tiny] {
    display: none; }
  .md-sidenav-right {
    transform: translate3d(-67%, 0px, 0px); }
  weather-overview .mini-forecast:nth-child(-n+1) {
    display: none; }
  weather-overview .mini-forecast:nth-child(n+5) {
    display: none; } }

