doctype html
html.no-js(lang='{{ language.current }}', ng-csp)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title {{ "Weather" | translate:language.translator.current }}
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
        link(rel='icon', href='img/logo.svg', sizes='any')
        link(rel='icon', href='img/icon-32', type='image/png', sizes='32x32')
        link(rel='stylesheet', href='css/app.css')
    body(layout='column')
        section(layout='row', flex, ng-cloak)
            md-sidenav.md-sidenav-right(md-component-id='right')
                md-toolbar.md-theme-default
                    h1.md-toolbar-tools(close-nav) {{ "Menu" | translate:language.translator.current }}
                md-content.md-padding(ng-controller='MenuCtrl')
                    md-list(close-nav)
                        md-item(ng-link='/locations')
                            md-item-content
                                p {{ "Locations" | translate:language.translator.current }}
                            md-divider
                        md-item(ng-link='/settings')
                            md-item-content
                                p {{ "Settings" | translate:language.translator.current }}
                            md-divider
                        md-item(ng-link='/feedback')
                            md-item-content
                                p {{ "Feedback" | translate:language.translator.current }}
                            md-divider
                        md-item(ng-link='/account', ng-show='')
                            md-item-content
                                p {{ "Account" | translate:language.translator.current }}
                            md-divider
            md-content(flex, layout='column', layout-fill)
                md-toolbar.main-nav
                    .md-toolbar-tools
                        .md-title(flex, ng-link='/home')
                            span {{ "Weather" | translate:language.translator.current }}
                        md-button(aria-label='Menu', ng-click='toggleRight()')
                            md-icon(md-font-icon='fa fa-bars')
                md-content.main-content(ng-view, layout, layout-fill)
                telemetry-item(data-title='Index')
        script(src='js/script.min.js')
        script(src='boot.js')
