doctype html
html.no-js(lang='{{ language.current || "en" }}')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title(ng-bind='{{ "Weather" | translate:language.translator.current }}') Weather
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
        link(rel='icon', href='img/logo.svg', sizes='any')
        link(rel='icon', href='img/icon-32', type='image/png', sizes='32x32')
        link(rel='stylesheet', href='css/app.css')
    body(layout='column')
        md-content(flex, layout='column', layout-fill)
            md-toolbar.md-primary
                .md-toolbar-tools(layout='row')
                    md-button(ng-link='/', aria-label='{{ "Back" | translate:language.translator.current }}', ng-show='showBack')
                        md-icon(md-font-icon='icon ion-chevron-left')
                    h3(flex) Weather
                    md-button(ng-link='/settings', aria-label='{{ "Settings" | translate:language.translator.current }}')
                        md-icon(md-font-icon='icon ion-android-settings')
            md-content.main-content(ng-view, flex, layout, layout-fill)
                telemetry-item(data-title='Index')
        script(src='js/index.js')
        script(src='js/script.min.js')
        script(src='boot.js')
