doctype html
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Ministry App Demo
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/app.css')
        style h3 span { margin-right: 0; }
    body(layout='column', layout-fill)
        section(layout='column', layout-fill, layout-align='center center')
            div
                h3(style='text-center')
                    span.fa-stack.fa-5x
                        i.fa.fa-wifi.fa-stack-1x
                        i.fa.fa-ban.fa-stack-2x.text-danger
                    br
            p Go online to access this content.
