<div flex="flex"><div layout="layout" layout-fill="layout-fill" class="home-banner"><div flex="flex" layout="layout" layout-fill="layout-fill" class="background-sf-paper md-padding"><section flex="flex" layout="layout" layout-fill="layout-fill"><div layout="layout" class="container-narrow"><div flex="flex" layout="row" column="column" layout-fill="layout-fill" layout-align="start end"><div><h1 class="md-display-1">{{ "Privacy" | translate:language.translator.current }}</h1><h4 class="md-subhead">We're committed to your privacy. That's why this weather
is the most secure, private weather app on the planet. Why do we
say that?</h4></div></div></div></section></div></div><div class="container-narrow"><h3 class="md-title">End-to-end Encryption</h3><p>All requests to our servers are completely encrypted
using the latest technology available, to ensure that
your privacy is protected from eavesdroppers while it's
coming or going from our servers.</p><h3 class="md-title">Anonymous Proxy</h3><p>Forecasts for your location(s) are retrieved
through a third-party, but are first sent to
our servers, where they are then proxied to
the forecast provider.</p><p>That means the locations you get forecasts
for are completely anonymous, and no third-party
knows neither who the request comes from, nor do
they know where the request is coming from or going
to. No personal information is ever transferred to
third parties.</p><h3 class="md-title">Secure Geolocation</h3><p>While you're more than welcome to turn on geolocation,
it's turned off by default to ensure the highest level
of privacy. You location will never be passed to our
servers without your explicitly requesting it.</p><p>Even when your location is sent, it's not differentiated
in any way from the thousands of other requests from other
users from the app. So there's no way to tell it's a geolocation
request, in comparision with a request for an address. This
further enhances your privacy, even when using geolocation.</p><p>Geolocation positions are determined on your device, and are
never stored on our servers, and never associated with any
app telemetry which may be collected.</p><h3 class="md-title">Secure Telemetry</h3><p>We do collect app useage telemetry by default. It helps
us improve the app by understanding how users interact with it.
Nevertheless, you can always turn telemetry off whenever you'd
like, and no telemetry data whatsoever will be sent.</p><h3 class="md-title">No Location Logging</h3><p>You can rest assured that the locations
you use are never logged, not even by the telemetry
software.</p><p>The server back-end for communication with the app
is completely custom built, so we have complete control
over it. This ensures that we can guarantee that it's secure
and your location is never logged.</p></div></div>